* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins";
}

/* Helper classes */

.orange-color {
  color: #ffad5a;
}

.red-color {
  color: #ff5959;
}

.gray-color {
  color: #424242;
}

.light-gray-color {
  color: #d9dbe1;
}

.blue-background {
  background: #4f9da621;
}
.red-background {
  background: #ff595931;
}
.yellow-background {
  background: #fff4d6;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.large-heading {
  font-family: "Yeseva One";
  font-size: 60px;
}

.medium-heading {
  font-size: 48px;
}

.small-heading {
  font-size: 36px;
}

a {
  text-decoration: none;
}

p {
  color: #424242;
  font-size: 18px;
}

.d-block {
  display: block;
}

.half-width {
  width: 55%;
}

.link {
  font-weight: bold;
  color: #ff5959;
}

.btn {
  display: inline-block;
  color: #fff;
  background: #ff5959;
  padding: 0.8rem 1.5rem;
  border-radius: 4px;
  margin: 1rem 0;
}

.info {
  font-size: 16px;
}

.my-1 {
  margin: 100px 0;
}
.my-2 {
  margin: 30px 0;
}

.flex-container {
  max-width: 1300px;

  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}
.flex-item {
  margin: 0 1rem;
  border-radius: 26px;
}

.focus-item-left .main-headline {
  border-left: 4px solid #ff5959;
  padding-left: 1rem;
  margin-bottom: 1rem;
}

.focus-item-right {
  width: 500px;
}

.focus-item-right img {
  width: 100%;
}

/* Mission Section */

#our-mission {
  background-image: url(../images/shapes/grid.png);
  background-repeat: no-repeat;
  background-position: 110% 100%;
}

#our-mission p {
  margin: 1rem 0;
}

#our-mission img {
  width: 140px;
}

#our-mission .our-mission-content {
  padding: 2rem;
  width: 600px;
  height: 400px;
  overflow: hidden;
}

/* Develop, Community and Involvement Section */

#develop {
  background-image: url(../images/shapes/circle1.png);
  background-repeat: no-repeat;
  background-position: 15% 50%;
}

#community {
  background-image: url(../images/shapes/grid.png),
    url(../images/shapes/circle2.png);
  background-repeat: no-repeat, no-repeat;
  background-position: -10% -10%, 86% 100%;
}

#involvement {
  background-image: url(../images/shapes/square1.png);
  background-repeat: no-repeat;
  background-position: 17% 40%;
}

.images {
  width: 400px;
  height: 400px;
  border-radius: 26px;
}

.left-content {
  margin-right: 4.5rem;
}

/* Footer Section */

footer {
  padding: 2rem;
  height: 180px;
  color: #fff;
  background: #0b0d17;
}

footer h2 {
  font-family: "Lobster", cursive;
  font-style: italic;
  margin-bottom: 20px;
}

footer p {
  font-family: "Manrope" "Segoe UI";
}
